.bennerBg{
    background: linear-gradient(#999,#999), url('../../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 40px;
    color: white;
}

.bennerBg h1 {
    font-size: 4rem;
    text-transform: capitalize;
}